/* CSS GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blanco: #ffffff;
    --azul-main: #141E30;
    --azul-second: #243B55;
    --azul-dark: #0F1924;
    --azul-main-trans: rgba(20, 30, 48, 0.9);
    --azul-second-trans: rgba(36, 59, 85, 0.9);
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, var(--azul-main) 0%, var(--azul-second) 100%);
    color: white;
}

header, main {
    max-width: 90% !important;
    margin: 0 auto;
}

.navbar i {
    font-size: 1.875rem;
    color: white;
}

.logo {
    width: 15.625rem;
}

footer {
    background-color: var(--azul-dark);
}

/* FINALIZA CSS GLOBAL */

/* --------------------------------------------------- INICIO --------------------------------------------------- */

/* SECCIÓN TENDENCIAS */

.trending-panels-container {
    display: flex;
    flex-direction: column;
}

.panel-trends {
    background-size: 100%;
    background-position: top;
    color: var(--blanco);
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: 1.25rem;
    height: 12.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
}

.panel-trends img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.panel-trends p {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    margin: 0;
    opacity: 0;
}

.panel-trends.active p {
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel-trends:last-child {
    margin: 0rem;
}

.panel-trends:nth-of-type(4),
.panel-trends:nth-of-type(5) {
    display: none;
}

/* FINALIZA SECCIÓN TENDENCIAS */

/* SECCIÓN CAROUSEL GÉNEROS */

.genres .item {
    background: linear-gradient(360deg, rgba(20, 30, 48, 1) 25%, rgba(255, 255, 255, 0) 100%), url(../images/dahmer.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 18.75rem !important;
    margin-right: 6.25rem !important;
    position: relative;
    border-radius: 1.25rem;
}

.genres .item h4 {
    font-size: 1.75rem;
    font-weight: 700;
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    margin: 0;
}

/* FINALIZA SECCIÓN CAROUSEL GÉNEROS */

/* SECCIÓN SERIES Y PELÍCULAS */

.search {
    width: 100%;
    height: 3.75rem;
    background: var(--blanco);
    border-radius: 3.75rem;
    padding: .9375rem;
    color: var(--azul-main);
}

.search i {
    font-size: 1.5625rem;
}

#search-form {
    width: 90%;
}

#search-form input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.125rem;
}

.movies-grid {
    margin-top: 2.5rem;
}

.movie-card {
    border-radius: 1.25rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.movie-card img {
    width: 100%;
    height: 37.5rem;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.movie-card .movie-info {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(125%);
    transition: transform 0.3s ease-in;
}

.movie-card:hover {
    box-shadow: 0px 0px 100px 0px rgba(255,255,255,0.1);
}

.movie-card:hover .movie-info {
    transform: translateY(0);
}

.movie-info .genres {
    color: rgba(36, 59, 85, 0.8);
    font-weight: 500;
}

.movie-info .title {
    color: var(--azul-main);
    font-weight: 700;
}

.movie-info .movie-rating-badge {
    background-color: var(--azul-main);
}

.movie-info .movie-rating {
    font-size: 1.375rem;
    font-weight: 700;
}

/* FINALIZA SECCIÓN SERIES Y PELÍCULAS */

/* --------------------------------------------------- DETALLES DE PELÍCULA --------------------------------------------------- */

.movie-cast .item {
    background: url(../images/rock.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    margin-right: 6.25rem !important;
    position: relative;
    border-radius: 1.25rem;
}

.movie-cast .item h4 {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    margin: 0;
}

/* --------------------------------------------------- PERFIL DE USUARIO --------------------------------------------------- */

.user-info {
    background-color: var(--azul-dark);
    border-radius: 1.25rem;
    margin-top: 12.5rem;
}

.user-pic-box {
    width: 15.625rem;
    height: 15.625rem;
}

.user-pic-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member {
    font-weight: 500;
    font-size: 1.5rem;
}

.phone,
.mail {
    font-weight: 700;
}

.phone span,
.mail span {
    font-weight: 500;
}

.logout-btn {
    background: #DC3545;
    transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #831b25;
}

/* --------------------------------------------------- FORMULARIOS AUTENTICACIÓN --------------------------------------------------- */

.auth-background {
    background:  linear-gradient(45deg, var(--azul-main-trans) 0%, var(--azul-second-trans) 100%), url(../images/auth-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.auth-logo-box {
    width: 21.875rem;
    top: -70px;
}

.auth-logo {
    width: 100%;
}

.form-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(.3125rem);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    color: var(--blanco);
}

.inputs input {
    padding: 1.5625rem;
    border-radius: 1.25rem;
    border: none;
    outline: none;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    color: white;
}

.inputs input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.submit input {
    width: 60%;
    padding: .9375rem;
    border-radius: 1.25rem;
    background: linear-gradient(45deg, var(--azul-main) 0%, var(--azul-second) 100%);
    color: var(--blanco);
    font-weight: 700;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
}

/* MQ para adaptar contenido a Desktop */
@media (min-width: 992px) {

    .navbar i {
        font-size: 3.125rem;
    }

    .logo {
        width: 18.75rem;
    }

    .trending-panels-container {
        display: flex;
        flex-direction: row;
    }

    .panel-trends {
        background-size: auto 110%;
        height: 33.75rem;
        flex: 0.5;
        margin-right: 3.75rem;
        transition: flex 0.7s ease-in;
        -webkit-transition: all 700ms ease-in;
    }

    .panel-trends.active {
        flex: 3;
    }

    .panel-trends:nth-of-type(4),
    .panel-trends:nth-of-type(5) {
        display: block;
    }

    .grid-header {
        display: flex;
        justify-content: space-between;
    }

    .search {
        position: relative;
        width: 3.75rem;
        height: 3.75rem;
        background: var(--blanco);
        border-radius: 3.75rem;
        transition: 0.5s;
        overflow: hidden;
    }
    
    .search i {
        cursor: pointer;
    }

    .search.active {
        width: 31.25rem;
    }

    .movies-grid {
        margin-top: 1.5625rem;
    }

    .auth-logo-box {
        width: 37.5rem;
        top: -6.25rem;
    }
}